define host{
use                             linux-server
host_name                       Z3-Tomcat
alias                           Z3-Tomcat
address                         54.94.222.92
max_check_attempts              5
check_period                    24x7
check_interval			1
check_command			check-host-alive
notifications_enabled		1
notification_options		
notification_interval           30
notification_period             24x7
contacts			nagiosadmin
contact_groups                  call_admins
}

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive_p80-DOM
        check_command                   check_alive_by_port_z3-svr-DOM!80
	max_check_attempts              3
	check_interval                  1
        retry_interval                  5
	event_handler_enabled           1
        event_handler                   restartTomcatZ3
        }

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive_p80-GTM
        check_command                   check_alive_by_port_z3-svr-GTM!80
	check_interval                  1
        }

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive-p80-HND-pushtravel.com.hn
        check_command                   check_alive_by_port_z3-svr-HND!80
	check_interval                  1
        }

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive_p80-NIC
        check_command                   check_alive_by_port_z3-svr-NIC!80
	check_interval                  1
        }

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive-p80-PRI-pushtravel.com.pr
        check_command                   check_alive_by_port_z3-svr-PRI!80
	check_interval                  1
        }

define service{
        use                             local-service
        host_name                       Z3-Tomcat
        service_description             Alive-p80-SLV-pushtravel.com.sv
        check_command                   check_alive_by_port_z3-svr-SLV!80
	check_interval                  1
        }

#define service{
#	use				local-service
#	host_name			Z3-Tomcat
#	service_description		Used-RAM-Mb
#	check_command			check_ncpa_agent_virtual_memory2!used!20:15!15
#	}

#define service{
#	use				local-service
#	host_name			Z3-Tomcat
#	service_description		CPU_Used
#	check_command			check_ncpa_agent_CPU_used2
#	}

#define service{
#        use                             local-service
#        host_name                       Z3-Tomcat
#        service_description             Swap_Used
#        check_command                   check_ncpa_agent_SWAP_used!percent!80!60!0
#        }

#define service{
#	use                    		local-service
#	host_name              	  	Z3-Tomcat
#	service_description		HDD_Used
#	check_command 			check_ncpa_agent_hdd_used_svr001!"|"!1:50!@75:79!@80:99
#	}

#define service{
#	use		                local-service
#	host_name		        Z3-Tomcat
#	service_description		HDD_FREE_Gb
#	check_command		        check_ncpa_agent_hdd_3_svr001!"|"
#	}

#define service{
#	use				local-service
#	host_name			Z3-Tomcat
#	service_description		Missing-Security-Pkgs
#	check_command			check_nagios_agent_apt_svr001!"nagios"!"/home/nagios/RSA-key/id_rsa_1"!"/opt/scripts/nagios/check_upg_sec.sh"!@1:5!@6:99
#	}


#--------------------------------------------------------------------------------

define command{
command_name            check_alive_by_port_z3-svr-DOM
command_line		$USER1$/check_http -H $HOSTADDRESS$ -u http://claroviajes.do
}

define command{
command_name            check_alive_by_port_z3-svr-GTM
command_line            $USER1$/check_http -H $HOSTADDRESS$ -u http://claroviajes.gt
}

define command{
command_name            check_alive_by_port_z3-svr-HND
command_line            $USER1$/check_http -H 54.94.234.240 -u http://pushtravel.com.hn
}

define command{
command_name            check_alive_by_port_z3-svr-NIC
command_line            $USER1$/check_http -H $HOSTADDRESS$ -u http://ni.claroviajes.com
}

define command{
command_name            check_alive_by_port_z3-svr-PRI
command_line            $USER1$/check_http -H 54.94.234.240 -u http://pushtravel.com.pr
}

define command{
command_name            check_alive_by_port_z3-svr-SLV
command_line            $USER1$/check_http -H 54.94.234.240 -u http://pushtravel.com.sv
}

#=================

#define command{
#command_name		check_ncpa_agent_virtual_memory2
#command_line		$USER1$/check_ncpa.py -H $HOSTADDRESS$ -t claroviajes0bbWpn4mIhPvijE -M api/memory/virtual/$ARG1$ -u M
#}

#define command{
#command_name		check_ncpa_agent_CPU_used2
#command_line		$USER1$/check_ncpa.py -H $HOSTADDRESS$ -t claroviajes0bbWpn4mIhPvijE -M api/cpu/percent
#}

#define command{
#command_name            check_ncpa_agent_SWAP_used
#command_line            $USER1$/check_ncpa.py -H $HOSTADDRESS$ -t claroviajes0bbWpn4mIhPvijE -M api/memory/swap/$ARG1$ -w $ARG2$ -c $ARG3$
#} 

#define command{
# command_name           check_ncpa_agent_hdd_used_svr001
# command_line           $USER1$/check_ncpa.py -H $HOSTADDRESS$ -t claroviajes0bbWpn4mIhPvijE -M api/disk/logical/$ARG1$/used_percent -c $ARG3$ -w $ARG4$
# }

#define command{
# command_name           check_ncpa_agent_hdd_3_svr001
# command_line           $USER1$/check_ncpa.py -H $HOSTADDRESS$ -t claroviajes0bbWpn4mIhPvijE -M api/disk/logical/$ARG1$/free -u G
# }

#define command{
# command_name		check_nagios_agent_apt_svr001
# command_line		$USER1$/check_by_ssh -H $HOSTADDRESS$ -l $ARG1$ -C $ARG3$
#}
